<!DOCTYPE html>
<html>
  <head>
    <title>Kittens!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "header" %>

    <div class="container">
      <div class="row">
        <div class="col">

          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message,
              class: "alert alert-#{message_type} mb-3" %>
          <% end %>

          <%= yield %>

        </div>
      </div>
    </div>

  </body>
</html>
